@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Cedarville+Cursive&family=Lobster&display=swap');
:root{
  --hover-color:rgb(128, 223, 146);
  --background-light: rgb(187, 168, 150);
  --background-dark: rgb(103, 82, 66);
  --highlight: rgb(58, 183, 63); 
}

body{
  background-color: var(--background-light);
}

p{
  font-family: 'Abyssinica SIL', serif;
  font-size: 20px;
}

.pages{
  width: min(80%, calc(100%-200px));
  /* height: 77vh; */
  padding-left: 50px;
  display: flex;
  align-items:flex-start;
  gap: 40px;
}
h2{
  margin-bottom: 20px;
  font-family: 'Lobster', serif;
  font-size: 30px;
  letter-spacing: 4px;
}
.section{
width: 50%;
display: flex;
flex-direction:column;
justify-content: flex-start;
align-items: flex-start;
}
.text{
  width: 40%;
  height: 100%;
  padding-top: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.display-img{
  width: 100%;
}
.banner-img{
  width: 70%;
  margin-top: 30px;
}